@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* wrapper */

#wrapper {
    max-width: 1400px;
    min-height: 300px;
    margin: 0 auto;
    padding: 0 4%;
}

/* nav */

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6px;
}

.logo img {
    height: 50px; 
}

nav button {
    width: 90px;
    height: 45px;
    background-color: #95D246;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* main */

main {
    max-width: 1400px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.main-text h1 {
    font-size: 4em;
    font-weight: 500;
    margin-top: 60px;
}

.main-text h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.main-text button {
    width: 130px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    background-color: #95D246;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/* main text footer */

.main-text-footer {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
    padding: 10px;
}

.main-text-footer h4 {
    font-size: 16px;
    font-weight: 700px;
    color: #686767;
}

.main-text-footer p {
    color: #8d8c8c;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 12px;
}

.main-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive Adjustment */

@media screen and (max-width: 1150px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .main-text-footer {
        width: 400px;
    }

    .main-img img {
        height: 460px;
    }
}

@media screen and (min-width: 320px) and (max-width: 410px) {

    .main-text {
        text-align: center;
    }

    .main-text h1 {
        font-size: 3.2em;
    }

    .main-text button {
        margin: auto;
    }

    .main-text-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330px;
        ;
    }

    .main-img img {
        height: 370px;
    }
}

@media screen and (min-width: 200px) and (max-width: 320px) {

    .main-text {
        text-align: center;
    }

    .main-text h1 {
        font-size: 3.2em;
    }

    .main-text button {
        margin: auto;
    }

    .main-text-footer {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main-text-footer p {
        font-size: 12px;
    }
    .main-img img {
        height: 300px;
    }
}